{% extends "base.html" %}
{% block content %}

{% if user_logged_in %}
Kirjautunut sisään käyttäjänä <b>{{user_logged_in.nimi}}</b>
<a href="{{base_path}}/login">
<button type="button" class="btn btn-default">Vaihda käyttäjää</button>
</a>
{% else %}
<a href="{{base_path}}/login">
<button type="button" class="btn btn-default">Kirjaudu sisään</button>
</a>
{% endif %}

{% if message %}
<div class="alert alert-success">
  {{message}}
</div>
{% endif %}

{% if error %}
<div class="alert alert-danger">
  {{error}}
</div>
{% endif %}

{% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <div class="alert alert-danger">
			{{error}}
		</div>
        {% endfor %}
      </ul>
    </div>
{% endif %}

  <h1>Aihealueet</h1>

  <a href="{{base_path}}/search" class="btn btn-default">Hae keskusteluja</a>
  
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Aihealue</th>
      </tr>
    </thead>

    <tbody>
		{% for aihealue in aihealueet %}
			<tr>
				<td>
				{% if user_logged_in.admin %}
					<div class="col-xs-9">
					<a href="{{base_path}}/keskustelut/{{aihealue.id}}">{{aihealue.nimi}}</a></div>
					<div class="col-xs-3">
					<a href="{{base_path}}/deleteaihealue/{{aihealue.id}}" class="btn btn-default">Poista</a></div>
					{% else %}
					<div class="col-xs-12">
					<a href="{{base_path}}/keskustelut/{{aihealue.id}}">{{aihealue.nimi}}</a></div>
				{% endif %}
				</td>
			</tr>
		{% endfor %}
    </tbody>
  </table>
  
  {% if user_logged_in.admin %}
  <h1>Lisää uusi aihealue</h1>

  <form method="post">
	<div class="form-group">
      <label>Otsikko</label>
      <input type="text" name="nimi" class="form-control"  value={{otsikko}}>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lähetä</button>
    </div>
  </form>
  {% endif %}
  
{% endblock %}