{% extends "base.html" %}
{% block content %}
  <h1>Keskustelun otsikko</h1>
	
  <div class="row">
	<div class="col-xs-6">Käyttäjänimi</div>
	<div class="col-xs-6">Viestin ajankohta</div>
	<div class="col-xs-12">Aloitusviestin sisältö</div>
  </div>
	
  <div class="row">
	<div class="col-xs-6">Käyttäjänimi</div>
	<div class="col-xs-6">Viestin ajankohta</div>
	<div class="col-xs-12">viestin sisältö</div>
  </div>
  <div class="row">
	<div class="col-xs-6">Käyttäjänimi</div>
	<div class="col-xs-6">Viestin ajankohta</div>
	<div class="col-xs-12">viestin sisältö</div>
  </div>
  <div class="row">
	<div class="col-xs-6">Käyttäjänimi</div>
	<div class="col-xs-6">Viestin ajankohta</div>
	<div class="col-xs-12">viestin sisältö</div>
  </div>
{% endblock %}