{% extends "base.html" %}
{% block content %}

{% if user_logged_in %}
Kirjautunut sisään käyttäjänä <b>{{user_logged_in.nimi}}</b>
<a href="{{base_path}}/login">
<button type="button" class="btn btn-default">Vaihda käyttäjää</button>
</a>
{% else %}
<a href="{{base_path}}/login">
<button type="button" class="btn btn-default">Kirjaudu sisään</button>
</a>
{% endif %}

{% if error %}
<div class="alert alert-danger">
  {{error}}
</div>
{% endif %}

{% if errors %}
	{% for e in errors %}
	  <div class="alert alert-danger">
		{{e}}
	  </div>
	{% endfor %}
{% endif %}

  <h1>Keskustelut</h1>

  <a href="#" class="btn btn-default">Hae keskusteluja</a>
  
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>{{aihealue.nimi}}</th>
      </tr>
    </thead>

    <tbody>
		{% for keskustelu in keskustelut %}
			<tr>
				<td>
				{% if keskustelu.kayttaja_id==user_logged_in.id or user_logged_in.admin %}
					<div class="col-xs-9">
					<a href="{{base_path}}/keskustelu/{{keskustelu.id}}">{{keskustelu.otsikko}}</a></div>
					<div class="col-xs-3">
					<a href="{{base_path}}/deletekeskustelu/{{keskustelu.id}}" class="btn btn-default">Poista</a></div>
					{% else %}
					<div class="col-xs-12">
					<a href="{{base_path}}/keskustelu/{{keskustelu.id}}">{{keskustelu.otsikko}}</a></div>
				{% endif %}
				</td>
			</tr>
		{% endfor %}
    </tbody>
  </table>
  
{% if user_logged_in %}
  <h1>Lisää uusi keskustelu</h1>

  <form method="post">
	<div class="form-group">
      <label>Otsikko</label>
      <input type="text" name="otsikko" class="form-control" value="{{otsikko}}">
    </div>
	
    <div class="form-group">
      <label>Viesti</label>
      <textarea name="content" class="form-control" value="">
	  {{content}}
      </textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lähetä</button>
    </div>
  </form>
{% endif %}
{% endblock %}