{% extends "base.html" %}
{% block content %}
  <h1>Keskustelun otsikko</h1>
	
  <div class="row" style="border: 1px solid;background-color:grey;margin-bottom: 30px;">
	<div style="border: 1px solid;padding: 5px;">
		<div class="col-xs-6">Käyttäjänimi</div>
		<div class="col-xs-6">Viestin ajankohta</div>
	</div>
	<div class="col-xs-12" style="padding: 30px;">Aloitusviestin sisältö</div>
  </div>
	
  <div class="row" style="border: 1px solid;background-color:grey;margin-bottom: 30px;">
	<div style="border: 1px solid;padding: 5px;">
		<div class="col-xs-6">Käyttäjänimi</div>
		<div class="col-xs-6">Viestin ajankohta</div>
	</div>
	<div class="col-xs-12" style="padding: 30px;">viestin sisältö</div>
  </div>
  
  <div class="row" style="border: 1px solid;background-color:grey;margin-bottom: 30px;">
	<div style="border: 1px solid;padding: 5px;">
		<div class="col-xs-6">Käyttäjänimi</div>
		<div class="col-xs-6">Viestin ajankohta</div>
	</div>
	<div class="col-xs-12" style="padding: 30px;">viestin sisältö</div>
  </div>
  
  <div class="row" style="border: 1px solid;background-color:grey;margin-bottom: 30px;">
	<div style="border: 1px solid;padding: 5px;">
		<div class="col-xs-6">Käyttäjänimi</div>
		<div class="col-xs-6">Viestin ajankohta</div>
	</div>
	<div class="col-xs-12" style="padding: 30px;">viestin sisältö</div>
  </div>
{% endblock %}