{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
  {{message}}
</div>
{% endif %}

{% if error %}
<div class="alert alert-danger">
  {{error}}
</div>
{% endif %}

  <h1>Keskustelut</h1>

  <a href="#" class="btn btn-default">Hae keskusteluja</a>
  
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>{{aihealue.nimi}}</th>
      </tr>
    </thead>

    <tbody>
		{% for keskustelu in keskustelut %}
			<tr>
				<td>
					<div class="col-xs-9">
					<a href="{{base_path}}/keskustelu/{{keskustelu.id}}">{{keskustelu.otsikko}}</a></div>
					<div class="col-xs-3">
					<a href="{{base_path}}/deletekeskustelu/{{keskustelu.id}}" class="btn btn-default">Poista</a></div>
				</td>
			</tr>
		{% endfor %}
    </tbody>
  </table>
  
  <h1>Lisää uusi Keskustelu</h1>

  <form method="post">
	<div class="form-group">
      <label>Otsikko</label>
      <input type="text" name="otsikko" class="form-control">
    </div>
	
    <div class="form-group">
      <label>Viesti</label>
      <textarea name="content" class="form-control">
      </textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lähetä</button>
    </div>
  </form>
  
{% endblock %}