{% extends "base.html" %}
{% block content %}


{% if user_logged_in %}
Kirjautunut sisään käyttäjänä <b>{{user_logged_in.nimi}}</b>
{% endif %}

{% if message %}
<div class="alert alert-success">
  {{message}}
</div>
{% endif %}

{% if error %}
<div class="alert alert-danger">
  {{error}}
</div>
{% endif %}

{% if errors %}
	{% for e in errors %}
	  <div class="alert alert-danger">
		{{e}}
	  </div>
	{% endfor %}
{% endif %}

  <h1>Muokkaa viestiä</h1>

  <form method="post">
    <div class="form-group">
      <label>Viesti</label>
      <textarea class="form-control" name="content">{{viesti.sisalto}}</textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}